#header {
  transition: all 0.5s ease-in-out;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
  padding-top: 1rem;
}

#header * {
  transition: all 0.5s linear;
}

#header h1 {
  font-family: 'Berkshire Swash';
  font-size: 6rem;
  text-shadow: 2px 2px 5px #000;
  margin: 0;
  /* padding-top: 1rem; */
  line-height: 1;
  font-weight: 700;
}

#header h2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
  padding-top: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: var(--primary-color);
}

#header .text-container {
  width: clamp(200px, 80vw, 800px);
}

#header img {
  padding: 0;
  margin: 0;
}

#header .title {
  color: #fff;
}

#header .navbar .hamburger {
  cursor: pointer;
  display: none;
}

/* Responsive styles */
@media (max-width: 992px) {
  #header {
    padding: 0 1rem;
  }
  #header h1 {
    /* display: none; */
    font-size: 3rem;
  }

  #header h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header floating to the top styles */
#header.header-top {
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding-bottom: 1rem;
  /* background: rgba(0, 0, 0, 0.9); */
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 2rem;
  width: max-content;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

#header.header-top h2 {
  display: none;
}

#header.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#header.header-top .navbar {
  max-width: 1200px;
}

@media (max-width: 768px) {
  #header.header-top h1 {
    display: none;
  }

  /* #header.header-top {
    height: 70px;
  } */

  /* #header .navbar {
    background-color: red;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 999;
  } */

  #header .navbar ul {
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: column; */
  }

  #header .container {
    flex-direction: column;
  }

  #header .navbar ul li {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  /* #header .navbar ul {
    display: none;
  } */
}
