#header {
  transition: all 0.5s ease-in-out;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
  padding-top: 1rem;
}

#header * {
  transition: all 0.5s linear;
}

#header h1 {
  font-family: 'Berkshire Swash';
  font-size: 4rem;
  text-shadow: 2px 2px 5px #000;
  margin: 0;
  /* padding-top: 1rem; */
  line-height: 1;
  font-weight: 700;
}

#header h2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
  padding-top: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: var(--primary-color);
}

#header .text-container {
  width: clamp(200px, 80vw, 800px);
}

#header img {
  padding: 0;
  margin: 0;
}

#header .title {
  color: #fff;
}

#header .button {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
}

#header .button:hover {
  background-color: var(--primary-color);
  color: #444;
}

/* #header .navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: fit-content;
} */

#header.header-top .navbar {
  background-color: transparent;
}

#header .navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #header .navbar a span {
  font-size: 10px;
  display: none;
} */

/* #header .navbar a span:hover {
  display: block;
  color: red;
} */

#header .navbar a i {
  font-size: 24px;
}

/* #header.header-top h1::after {
  content: 'Doran Software';
} */

#header.header-top .navbar a i {
  font-size: 30px;
}

/* Responsive styles */
@media (max-width: 900px) {
  #header {
    padding: 0 1rem;
  }
  #header h1 {
    /* display: none; */
    font-size: 3rem;
  }

  #header.header-top h1 {
    display: none;
  }

  #header h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #header.header-top .navbar ul li {
    margin-right: 20px;
  }

  #header .navbar ul li:last-child {
    margin-right: 0;
  }
}

/* Header floating to the top styles */
#header.header-top {
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;

  /* background: rgba(0, 0, 0, 0.9); */
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 1.75rem;
  width: max-content;
  margin-bottom: 0.5rem;
  /* margin-top: 1rem; */
}

#header.header-top h2 {
  display: none;
}

#header.header-top .button {
  display: none;
}

#header.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#header.header-top .navbar {
  max-width: 1200px;
}

@media (max-width: 768px) {
  /* #header .navbar ul {
    flex-wrap: wrap;
  } */

  #header .container {
    flex-direction: column;
  }

  #header h1 {
    text-align: center;
  }

  #header.header-top .navbar ul li {
    margin-right: 20px;
  }

  #header .navbar ul li:last-child {
    margin-right: 0;
  }
}

@media (max-width: 569px) {
  #header.header-top {
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 390px) {
  #header.header-top {
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
  }

  #header.header-top .navbar li {
    margin: 0;
    padding: 0;
  }

  #header.header-top .navbar ul li {
    margin-right: 5px;
  }
}
