.navbar {
  padding: 0;
  /* padding-top: 35px; */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  color: #fff;
  position: relative;
  padding: 0.5rem 0.5rem;
  /* margin-right: 10px; */
  border-radius: 8px;
  transition: all 200ms ease-in;
}

.navbar a {
  padding: 0.5rem 0.5rem;
}

.navbar .active {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
